<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.smi.manager.mapper.LoginMapper">
  <resultMap id="BaseResultMap" type="com.ymkj.smi.manager.common.entity.AdminUser">

    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="JNO" jdbcType="VARCHAR" property="jno" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="E_TYPE" jdbcType="VARCHAR" property="eType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
  </resultMap>
  
  <select id="selectByName"  parameterType="Map" resultMap="BaseResultMap">
  	select PASSWORD,ID from admin_user  where NAME = #{name} 
  </select>
</mapper>