<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.smi.manager.mapper.RoleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.ymkj.smi.manager.common.entity.RoleFunction">

    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROL_ID" jdbcType="BIGINT" property="rolId" />
    <result column="FUNC_ID" jdbcType="BIGINT" property="funcId" />
  </resultMap>
  
  <select id="queryRoleFunctionByRoleId" parameterType="Long" resultMap="BaseResultMap">
		select rf.* from role_function rf where rf.rol_id=#{_parameter}
	</select>
  
</mapper>